@import url(common.css);

p.bottompic {
  position: absolute;
  z-index: 1;
  padding-top: 20px;
  padding-left: 220px;
}

h2 {
  font-size: 300px;
  color: rgba(40, 36, 31, 0.795);
  position: absolute;
  z-index: 2;
  padding-top: 480px;
  padding-left: 780px;
}

.container4 {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  padding-top: 900px;
}

.container5 {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  padding-top: 60px;
}

.container6 {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

p.bottompic {
  text-align: center;
  padding-bottom: 300px;
}

p.homelink {
  font-size: 35px;
  padding-top: 100px;
  padding-bottom: 100px;
}

p.homelink a {
  /* background-color: aqua; */
  padding: 20px 50px;
  background-image: url(../img/ya.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: right 20px center;
}

.homelink a:hover {
  text-decoration: underline;
  opacity: 0.7;
}
