@import url("https://emmaoy.github.io/test_6/common.css");

main p.profile {
  font-size: 23px;
  line-height: 32px;
  padding-top: 150px;
}

.link1 {
  background-image: url("https://github.com/EmmaOY/test_6/blob/main/img_desk.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  width: 1200px;
  height: 450px;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
}

main p.link1 a {
  background-color: rgba(249, 244, 222);
  padding: 55px 100px;
  margin-bottom: 200px;
　display: inline-block;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  width: 300px;
  height: 150px;
  background-image: url("https://github.com/EmmaOY/test_6/blob/main/ya.png?raw=true");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: right 20px center;
}

main p.link1 a:hover {
  opacity: 0.7;
}

/* main p .link1 {
  margin-bottom: 100px;
} */

.link2 {
  background-image: url("https://github.com/EmmaOY/test_6/blob/main/img_people.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  width: 1200px;
  height: 450px;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
}

main p.link2 a {
 background-color: rgba(249, 244, 222);
　display: inline-block;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  width: 300px;
  height: 150px;
  padding: 55px 100px;
  margin-bottom: 200px;
  background-image: url("https://github.com/EmmaOY/test_6/blob/main/ya.png?raw=true");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: right 20px center;
}

main p.link2 a:hover {
  opacity: 0.7;
}

main p.link2 {
  margin-top: 100px;
}

.link3 {
  background-image: url("https://github.com/EmmaOY/test_6/blob/main/bigdoodle2.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  width: 1200px;
  height: 450px;
  padding-top: 200px;
/*   padding-bottom: 100px; */
  margin-left: auto;
  margin-right: auto;
}

main p.link3 a {
  background-color: rgba(249, 244, 222);
　 display: inline-block;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  width: 300px;
  height: 150px;
  padding: 55px 100px;
  margin-bottom: 200px;
  background-image: url("https://github.com/EmmaOY/test_6/blob/main/ya.png?raw=true");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: right 20px center;
}

main p.link3 a:hover {
  opacity: 0.7;
}

main p.link3 {
  margin-top: 100px;
}

.link123 {
  text-align: left;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

footer {
  background-color: rgb(40, 36, 31);
  width: auto;
  height: 50px;
  margin-top: 100px;
}

footer p {
  color: #fff;
  padding-top: 15px;
}

/* レスポンシブ */
@media (max-width: 575px) {

main p.profile {
  font-size: 15px;
  padding-top: 150px;
  width: 98%;
}

  .link1 {
    width: 95%;
    height: 100px;
  }
  main p.link1 a {
    /* background-color: aqua; */
    width: 90px;
    height: 15px;
    display: flex;
    justify-content: center;
    line-height: 0;
    margin-top: -80px;
    padding: 40px 90px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right 10px center;
  }

  .link2 {
    width: 95%;
    height: 100px;
  }
  main p.link2 a {
    /* background-color: aqua; */
    width: 90px;
    height: 15px;
    display: flex;
    justify-content: center;
    line-height: 0;
    margin-top: -80px;
    padding: 40px 90px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right 10px center;
  }

  .link3 {
    width: 95%;
    height: 100px;
  }
  main p.link3 a {
    /* background-color: aqua; */
    width: 90px;
    height: 15px;
    display: flex;
    justify-content: center;
    line-height: 0;
    margin-top: -80px;
    padding: 40px 90px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right 10px center;
  }

  .link123 p {
    display: block;
    padding-bottom: 90px;
    text-align: center;
  }
}

/* レスポンシブ（ノートPC） */
@media (min-width: 992px) and (max-width: 1199px) {
  .link1 {
    width: 95%;
  }

  .link2 {
    width: 95%;
  }

  .link3 {
    width: 95%;
  }
}

/* レスポンシブ（タブレット） */
@media (min-width: 576px) and (max-width: 991px) {
  .link1 {
    width: 95%;
  }

  .link2 {
    width: 95%;
  }

  .link3 {
    width: 95%;
  }
}
